// libs
@import compass/reset.scss
// @import cerulean/variables
@import bootstrap.scss
// @import cerulean/bootswatch
@import compass
@import recipes
//
header, article, footer
    display: block
table
    input
        &.span1
            width: 60px
    .control-group
        margin-bottom: 10px !important
//fonts

// colors
$bordo: #790000
$bordo-light: #990000
$gray: #999999
$light-gray: #ccc
$super-light-gray: #ddd
$font: #272727
$font-a: #002153

.gray
    color: $gray
.font
    color: $font
.light-gray
    color: $light-gray
.bordo
    color: $bordo
    &:hover
        color: $bordo


//bootrtrap colors hover for ie
// tipographica
.center
    text-align: center
// global
html
    // min-height: 100%
body
    color: $font
    // min-height: 100%
.box_form
    +border-radius(5px)
    +box-shadow(0px 0px 1px 1px gray)
.navbar 
    .brand
        color: #fff
    .nav
        li
            a
                color: $super-light-gray !important
                padding-top: 11px
                +text-shadow(none)
.brand
    text-decoration: none
.navbar-inner
    // +gradient-vertical($bordo-light, $bordo)
    +gradient-vertical($bordo, $bordo)
    // background-color: #c00 !important
    // background: $bordo !important
.margin-top
    margin-top: 30px

a
    text-decoration: underline
    color: $font-a
    &:hover
        text-decoration: none
        color: $font-a
.pull-r
    float: right
    text-align: right
.align-r
    text-align: right
.carousel
    a
        text-decoration: none
.carousel-control
    top: 50%

h3
    color: $bordo
    a
        color: $bordo
        &:hover
            color: $bordo
table
    thead
        th
            font-size: 14px
            color: $bordo

article
    margin-top: 81px
footer
    margin-top: 35px
    +gradient-vertical($bordo, $bordo-light)
    color: #fff
    padding-top: 20px
    h3
        color: #fff
        font-weight: bold
        text-align: center
        margin-bottom: 20px
        font-size: 22px
        a
            color: #fff
            &:hover
                color: #fff
    p
        color: $light-gray
        margin-left: 5px
        margin-bottom: 20px
#under_footer
    padding-top: 15px
    padding-bottom: 15px
    img
        margin-left: 7px
        height: 32px
    span
        vertical-align: middle
    

// partials
#calculator
    .type_1,
    .type_2,
    .typ3_3,
    .type_4
        min-width: 125px
    td:nth-child(5)
        min-width: 100px
.color_preview
    width: 60px
    height: 60px
    background: #fff
    margin-bottom: 20px
    div
        width: 100%
        height: 100%
        +border-radius(2px)
        &.active
            +background-checkerboard-i($bg-color: #fff, $box-color:  #ccc, $size: 20px)
            background-color: transparent !important
// color
#color_preview_big
    height: 180px
    div
        height: 180px
        +background-checkerboard($bg-color: #fff, $box-color:  #ccc, $size: 20px)
        width: 100%
        &.active
            position: fixed
            top: 40px
            left: 0
            height: 143px
            z-index: 100
            +box-shadow( 0 1px 3px rgba(0, 0, 0, 0.25) )
#color_preview_big_footer
    padding-top: 5px
    padding-bottom: 20px
    button
        margin-top: 7px
        padding: 9px 17px
.color
    height: 50px
    margin-top: 20px
    div
        background: transparent
        width: 100%
        height: 100%
        position: relative
        +border-radius(2px)
        &:hover
            &:before
                background-image: url("../img/glyphicons-halflings.png")
                background-position: -408px -96px
                height: 14px
                width: 14px
                position: absolute
                right: 0
                top: -22px
                content: ""
    &.active
        border-color: $blue
        +box-shadow(0 1px 4px rgba(0,105,214,.25))
        div
            &:hover
                &:before
                    background-position: -433px -96px

    span
        position: relative
        top: -20px
        left: 0px
        font-weight: bold
        color: $grayDarker

.blueprint
    +background-blueprint-grid($background-color: #4285C9, $foreground-color: rgba(#fff, .2), $foreground-color-alt: rgba(#fff, .1), $width: 100px, $width-alt: 20px, $border-width: 2px, $border-width-alt: 1px)
    display: none
#designed_by
    text-align: right
    display: block
    text-decoration: none !important


@import bootstrap-responsive.scss
// Navbar button for toggling navbar items in responsive layouts
// These definitions need to come after '.navbar .btn'
.navbar .btn-navbar
    @include buttonBackground($btnBackground, $btnBackgroundHighlight)
    @include box-shadow(#{inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075)})
.navbar .btn-navbar .icon-bar
    background-color: $grayDark//#f5f5f5
    @include border-radius(1px)
    @include box-shadow(0 1px 0 rgba(0,0,0,.25))