<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <title><%= @title %></title>
        <link rel="stylesheet" href="css/screen.css" />
    </head>
    <body id="<%= @id %>">
        <!--[if IE]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <header>
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="index.html">Полимерно - порошковая окраска</a>
                            <div class="nav-collapse collapse">
                                <ul class="nav pull-right">
                                    <li>
                                        <a href="about.html">О Компании</a>
                                    </li>
                                    <li>
                                        <a href="price.html">Прайс</a>
                                    </li>
                                    <li>
                                        <a href="price.html#calculator">Калькулятор</a>
                                    </li>
                                    <li>
                                        <a href="colors.html">Цвета</a>
                                    </li>                
                                </ul>
                            </div>
                    </div>
                </div>
            </div>
        </header>
        <article>
            <div class="container">
                <%= yield %>
            </div>
        </article>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <h3><a href="about.html">О компании</a></h3>
                        <p>технологический процесс нанесения на поверхность.технологический процесс нанесения на поверхность.технологический процесс нанесения на поверхность.технологический процесс нанесения на поверхность</p>
                    </div>
                    <div class="span3">
                        <h3><a href="price.html">Прайс</a></h3>
                        <p>технологический процесс нанесения на поверхность.технологический процесс нанесения на поверхность.технологический процесс нанесения на поверхность.технологический процесс нанесения на поверхность</p>
                    </div>
                    <div class="span3">
                        <h3><a href="price.html#calculator">Калькулятор</a></h3>
                        <p>технологический процесс нанесения на поверхность.технологический процесс нанесения на поверхность.технологический процесс нанесения на поверхность.технологический процесс нанесения на поверхность</p>
                    </div>
                    <div class="span3">
                        <h3><a href="colors.html">Цвета</a></h3>
                        <p>технологический процесс нанесения на поверхность.технологический процесс нанесения на поверхность.технологический процесс нанесения на поверхность.технологический процесс нанесения на поверхность</p>
                    </div>
                </div>
            </div>
        </footer>
        <div class="container">
            <div class="row" id="under_footer">
                <div class="span7">
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                        <a class="addthis_button_preferred_1"></a>
                        <a class="addthis_button_preferred_2"></a>
                        <a class="addthis_button_preferred_3"></a>
                        <a class="addthis_button_preferred_4"></a>
                        <a class="addthis_button_compact"></a>
                        <a class="addthis_counter addthis_bubble_style"></a>
                        &nbsp;
                    </div>
                    <!-- AddThis Button END -->
                </div>
                <div class="span5">
                    <a id="designed_by" class="bordo" href="http://www.de-core.net" target="_blank">
                        <span>Сайт разработан студией</span>
                        <img alt="de-core.net" src="img/decore_logo.png" width="49" height="32"/>
                    </a>
                </div>
            </div>
        </div>
    </body>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->
    <script src="js/jquery-1.7.2.min.js"></script>
    <!-- <script src="js/locache.min.js"></script> -->
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/locache.min.js"></script>
    <script src="js/jquery.calc.js"></script>
    <script>
        $(document).ready(function(){
            $('.carousel').carousel();
        });
    </script>
    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4fd9dea04efe5740"></script>
</html>