<% @id = "about" %>
<% @title = "О компании" %>
<div class="row">
	<div class="span9 offset3">
		<h1 class="gray">О компании</h1>	
	</div>
	<div class="span12 margin-top">
		<div class="row">
			<div class="span3 align-r">
				<h3>ООО "Уральская Усадьба"</h3>
			</div>
			<div class="span9">
				<p>Розничная  и оптовая продажа: Теплицы  под сотовый поликарбонат, стекло,  пленку, парники,  козырьки, навесы для автомобиля, входные навесы из поликарбоната, зимние сады и садовые беседки, сотовый поликарбонат, фурнитура, печи. Изготовление металлоконструкций по эскизам и размерам заказчика. Монтаж. Демонтаж теплиц. Услуги по полимерно-порошковой окраске.</p>
			</div>
		</div>
	</div>
	<div class="span12 margin-top">
		<div class="row">
			<div class="span3 align-r">
				<h3>Телефон</h3>
			</div>
			<div class="span9">
				<p>г. Екатеринбург : +7(343) 201-14-05;+7(922) 209-88-57</p>
				<p>г. Первоуральск : +7(3439) 29-14-05: +7(922) 1-607-606</p>
				<p>г. Челябинск : +7(351) 235-23-35; +7(904) 935-23-35</p>
				<p>г. Новый Уренгой: +7(3494) 263-352; +7(908) 497-33-52</p>
			</div>
		</div>
	</div>
	<div class="span12 margin-top">
		<div class="row">
			<div class="span3 align-r">
				<h3>Время работы</h3>
			</div>
			<div class="span9">
				<p>с 9:30 - 18:00 пн-вс</p>
			</div>
		</div>
	</div>
	<div class="span12 margin-top">
		<div class="row">
			<div class="span3 align-r">
				<h3>E-Mail</h3>
			</div>
			<div class="span9">
				<a href="mailto:ural-usadba@yandex.ru">ural-usadba@yandex.ru</a>
			</div>
		</div>
	</div>
	<div class="span12 margin-top">
		<div class="row">
			<div class="span3 align-r">
				<h3>Карта</h3>
				<p class="light-gray">Proin vitae nibh mi, non mollis magna. Pellentesque elementum, ligula porttitor dapibus aliqua</p>
			</div>
			<div class="span9">
				<p>Екатеринбург, Совхозная, 20 / Совхозная, 20д - 4 офис; 2 этаж</p>
				<div id="map" class="thumbnail">
					<img src="http://placehold.it/690x470" alt="">
				</div>
			</div>
		</div>
	</div>
</div>