<% @id = "colors" %>
<% @title = "Наша палитра" %>
<div class="row">
	<div class="cpan9 offset3">
		<h1 class="gray">Цвета</h1>
		<h3>Ниже находятся блоки, разделенные на <a href="#">ценовые группы</a></h3>	
	</div>
	<div class="span12 margin-top">
		<div id="color_preview_big" class="thumbnail">
			<div></div>
		</div>
		<div class="row">
			<div id="color_preview_big_footer">
				<div class="span2 offset1">
					<button id="input_add_color" class="btn btn-large btn-primary">Посчитать</button>
				</div>
				<div class="span7">
					<h3 class="none-767">Щелкните на нужный цвет для предпросмотра</h3>
					<p>Кнопка "Посчитать" - переход к калькулятору</p>
				</div>
			</div>
		</div>
	</div>
	<div class="span11 offset1 margin-top">
		<h3>Группа красок 1</h3>	
	</div>
	<div class="span12 margin-top">
		<div id="group_1" class="row">
		</div>
	</div>
	<div class="span11 offset1 margin-top">
		<h3>Группа красок 2</h3>	
	</div>
	<div class="span12 margin-top">
		<div id="group_2" class="row">
		</div>
	</div>
	<div class="span11 offset1 margin-top">
		<h3>Группа красок 3</h3>	
	</div>
	<div class="span12 margin-top">
		<div id="group_3" class="row">
		</div>
	</div>
	<div class="span11 offset1 margin-top">
		<h3>Группа красок 4</h3>	
	</div>
	<div class="span12 margin-top">
		<div id="group_4" class="row">
		</div>
	</div>
</div>