<% @id = "page_home" %>
<% @title = "Добро пожаловать" %>

<div class="row">
    <div class="span12">
        <h1 class="gray center">Наше предприятие осуществляет порошковую покраску металлических изделий на собственном покрасочном участке.</h1>
    </div>
    <div class="span12 margin-top">
        <div class="row">
            <div class="span3 align-r">
                <h3>Максимальные размеры</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse turpis metus, aliquet ut lacinia molestie, scelerisque sit amet velit. Morbi scelerisque vulplutate urna laoreet tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus lacus justo, malesuada quis tincidunt non, luctus ut ante. Integer adipiscing sem et massa gravida suscipit rutrum mi semper. Quisque pellentesque nulla eget enim</p>
            </div>
            <div class="span9">
                <div id="myCarousel" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="item">
                            <img src="img/slider/bootstrap-mdo-sfmoma-01.jpg" alt="">
                        </div>
                        <div class="item active">
                            <img src="img/slider/bootstrap-mdo-sfmoma-02.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="img/slider/bootstrap-mdo-sfmoma-03.jpg" alt="">
                        </div>
                    </div>
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                </div>
            </div>
        </div>
    </div>
    <div class="span12 margin-top">
        <div class="row">
            <div class="span3 align-r">
                <h3>Максимальные размеры</h3>
                <a href="#">Ссылка на что-то</a>
            </div>
            <div class="span9">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse turpis metus, aliquet ut lacinia molestie, scelerisque sit amet velit. Morbi scelerisque vulputate urna laoreet tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus lacus justo, malesuada quis tincidunt non, luctus ut ante. Integer adipiscing sem et massa gravida suscipit rutrum mi semper. Quisque pellentesque nulla eget enim hendrerit ac pulvinar nunc aliquet. Curabitur et lectus eros. Integer id nunc tellus.</p>
                <p>Proin fringilla egestas suscipit. Cras id neque elit, quis imperdiet neque. Mauris et ligula nec arcu sagittis ornare dignissim vel tortor. Suspendisse dolor nunc, pulvinar ut fermentum et, facilisis nec orci. In hac habitasse platea dictumst. Proin pulvinar tempor purus in aliquet. Proin suscipit dictum leo, id malesuada turpis fringilla eget. Suspendisse scelerisque turpis id arcu vulputate gravida. Nulla euismod, enim a interdum adipiscing, justo diam consequat tortor, in tristique arcu enim sit amet elit. Quisque pulvinar, diam sit amet bibendum posuere, ipsum mi ornare lorem, in bibendum orci nibh vel sapien. Praesent in eros vitae orci consequat euismod. Cras pharetra lacus ut nibh ullamcorper placerat. Maecenas molestie, elit vitae sodales rutrum, ligula libero sodales ante, ac malesuada arcu eros vel metus. Mauris eget nibh mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus a lorem sed libero egestas gravida sit amet sit amet orci.</p>
            </div>
        </div>
    </div>
    <div class="span12 margin-top">
        <div class="row">
            <div class="span3 align-r">
                <h3>Максимальные размеры</h3>
                <p class="light-gray">Proin vitae nibh mi, non mollis magna. Pellentesque elementum, ligula porttitor dapibus aliqua</p>
                <a href="#">Ссылка на что-то</a>
            </div>
            <div class="span9">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse turpis metus, aliquet ut lacinia molestie, scelerisque sit amet velit. Morbi scelerisque vulputate urna laoreet tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus lacus justo, malesuada quis tincidunt non, luctus ut ante. Integer adipiscing sem et massa gravida suscipit rutrum mi semper. Quisque pellentesque nulla eget enim hendrerit ac pulvinar nunc aliquet. Curabitur et lectus eros. Integer id nunc tellus.</p>
                <p>Proin fringilla egestas suscipit. Cras id neque elit, quis imperdiet neque. Mauris et ligula nec arcu sagittis ornare dignissim vel tortor. Suspendisse dolor nunc, pulvinar ut fermentum et, facilisis nec orci. In hac habitasse platea dictumst. Proin pulvinar tempor purus in aliquet. Proin suscipit dictum leo, id malesuada turpis fringilla eget. Suspendisse scelerisque turpis id arcu vulputate gravida. Nulla euismod, enim a interdum adipiscing, justo diam consequat tortor, in tristique arcu enim sit amet elit. Quisque pulvinar, diam sit amet bibendum posuere, ipsum mi ornare lorem, in bibendum orci nibh vel sapien. Praesent in eros vitae orci consequat euismod. Cras pharetra lacus ut nibh ullamcorper placerat. Maecenas molestie, elit vitae sodales rutrum, ligula libero sodales ante, ac malesuada arcu eros vel metus. Mauris eget nibh mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus a lorem sed libero egestas gravida sit amet sit amet orci.</p>
            </div>
        </div>
    </div>

</div>
