<% @id = "price" %>
<% @title = "Наш прайс" %>
<div class="row">
	<div class="cpan9 offset3">
		<h1 class="gray">Прайс лист</h1>
		<h3>Тут вы можете ознакомиться с ценами</h3>
	</div>
	<div class="span12 margin-top">
		<div class="row">
			<div class="span3 align-r">
				<h3>Классификация изделий</h3>
				<p class="light-gray">Максимальные размеры.Максимальные размеры.Максимальные размеры.Максимальные размеры</p>
			</div>
			<div class="span9">
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Тип изделий</th>
							<th>Описание</th>
						</tr>
  					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Плоские изделия*</td>
							<td>Любые плоские поверхности. Поверхность считается плоской, если один из размеров менее 0,2м, а остальные - более 0,3м каждый.</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Длинномерные изделия*</td>
							<td>Изделие считается длинномерным, если один из его размеров более 0,3м, а остальные - менее 0,3 м каждый.</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Малоразмерные изделия*</td>
							<td>Изделие считается малоразмерным, если максимальный из его размеров не превышает 0,3м.</td>
						</tr>
						<tr>
							<td>4</td>
							<td>Объемные изделия*</td>
							<td>Изделие считается объемным, если один из его размеров более 0,2м, а остальные - более 0,3м каждый.</td>
						</tr>
					</tbody>
				</table>
				<span>* классификация зависит от изделия, заказчика и количества изделий.</span>
			</div>
		</div>
	</div>
	<div class="span12 margin-top">
		<div class="row">
			<div class="span3 align-r">
				<h3>Классификация красок по группам</h3>
				<p class="light-gray">Максимальные размеры.Максимальные размеры.Максимальные размеры.Максимальные размеры</p>
			</div>
			<div class="span9">
				<table class="table">
					<thead>
						<tr>
							<th>Группа красок</th>
							<th>Артикул цвета по каталогу RAL</th>
						</tr>
  					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>9005,9016.</td>
						</tr>
						<tr>
							<td>2</td>
							<td>1000-1002, 1004, 1011-1015, 1019-1020, 1024, 1027, 3007, 3009, 3012, 4009, 5000-5024, 6000-6034, 7000-7047, 8000-8028, 9001-9004, 9005 (матовая), 9010, 9011, 9016 (матовая; шагрень), 9017- 9018</td>
						</tr>
						<tr>
							<td>3</td>
							<td>1003,1007,1016-1018,1021,1028-1034, 2000-2003, 2008-2012, 3000-3005, 3011, 3013-3031, 4001-4008, 4010, 9006, 9007, антики, лак</td>
						</tr>
						<tr>
							<td>4</td>
							<td>1035,1036, 2004, 2013, 3032, 4011, 5025, 5026, 6035, 6036, 7048, 9022, 9023, антики, лак, хром, металлики по образцам</td>
						</tr>
					</tbody>
				</table>
				<span>*цвета не вошедшие в таблицу, оговариваются отдельно</span>
			</div>
		</div>
	</div>
	<div class="span12 margin-top">
		<div class="row">
			<div class="span3 align-r">
				<h3>Стоимость порошковой окраски плоских изделий</h3>
				<p class="light-gray">Поверхность считается плоской, если один из размеров менее 0,2м, а остальные - более 0,3м каждый.</p>
			</div>
			<div class="span9">
				<table class="table">
					<thead>
						<tr>
							<th>Объем заказа, м<sup>2</sup></th>
							<th>Группа красок 1</th>
							<th>Группа красок 2</th>
							<th>Группа красок 3</th>
							<th>Группа красок 4</th>
						</tr>
  					</thead>
					<tbody>
						<tr>
							<td>Свыше 301 м<sup>2</sup></td>
							<td>130 руб.</td>
							<td>135 руб.</td>
							<td>140 руб.</td>
							<td>200 руб.</td>
						</tr>
						<tr>
							<td>101 м<sup>2</sup> - 300 м<sup>2</sup></td>
							<td>135 руб.</td>
							<td>140 руб.</td>
							<td>150 руб.</td>
							<td>200 руб.</td>
						</tr>
						<tr>
							<td>21 м<sup>2</sup> - 100 м<sup>2</sup></td>
							<td>140 руб.</td>
							<td>145 руб.</td>
							<td>160 руб.</td>
							<td>200 руб.</td>
						</tr>
						<tr>
							<td>1 м<sup>2</sup> - 20 м<sup>2</sup></td>
							<td>От 150 руб.</td>
							<td>От 160 руб.</td>
							<td>От 180 руб.</td>
							<td>От 200 руб.</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="span12 margin-top">
		<div class="row">
			<div class="span3 align-r">
				<h3>Стоимость порошковой окраски длинномерных изделий</h3>
				<p class="light-gray">Максимальные размеры.Максимальные размеры.Максимальные размеры.Максимальные размеры</p>
			</div>
			<div class="span9">
				<div class="row">
					<div class="span4">
						<table class="table">
							<thead>
								<tr>
									<th>Периметр сечения изделия, см</th>
									<th>Стоимость 1 п.м.</th>
								</tr>
		  					</thead>
							<tbody>
								<tr>
									<td>1 см - 20 см</td>
									<td>20 руб.</td>
								</tr>
								<tr>
									<td>21 см - 30 см</td>
									<td>25 руб.</td>
								</tr>
								<tr>
									<td>31 см - 40 см</td>
									<td>40 руб.</td>
								</tr>
								<tr>
									<td>41 см - 50 см</td>
									<td>65 руб.</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="span12 margin-top">
		<div class="row">
			<div class="span3 align-r">
				<h3>Стоимость порошковой окраски малоразмерных изделий</h3>
				<p class="light-gray">Максимальные размеры.Максимальные размеры.Максимальные размеры.Максимальные размеры</p>
			</div>
			<div class="span9">
				<div class="row">
					<div class="span5">
						<table class="table">
							<thead>
								<tr>
									<th>< 5 см</th>
									<th>< 10 см</th>
									<th>< 20 см</th>
									<th>< 30 см</th>
								</tr>
		  					</thead>
							<tbody>
								<tr>
									<td>5,5 руб. за 1 шт</td>
									<td>11 руб. за 1 шт</td>
									<td>16,5 руб. за 1 шт</td>
									<td>22 руб. 1 шт</td>
								</tr>
							</tbody>
						</table>
					
						<span>При расчете берется максимальный размер по любому из габаритов</span>
					</div>	
				</div>			
			</div>
		</div>
	</div>
	<div class="span12 margin-top">
		<div class="row">
			<div class="span3 align-r">
				<h3>Стоимость порошковой окраски сборных изделий</h3>
			</div>
			<div class="span9">
				<p>При расчете стоимости покраски сборного изделия используются цены за плоские изделия, а площадь изделия считается по его габаритам:</p>
				<p>Пример: рама 1м х 2м х 0,05м = 2кв.м. (окраска с одной стороны)</p>
				<p>Пример: решетка 2м х 2м х 0,07м = 4кв.м.</p>
				<p>Для расчета берутся два наибольших размера, при этом, если третий размер более 0,2 м, то результат умножается на 1,5. Если третий размер более 0,4м, то результат умножается на 2; если третий размер более 0,6м, то результат умножается на 3.</p>
				<p>Пример: решетка 2м х 3м х 0,25м = 9 кв.м.</p>
				<p>Пример: рама 1м х 1м х 0,7м = 3 кв.м.</p>
				<p>Пример: диск диаметром 0,4м и шириной 0,25м = 0,25 кв.м.</p>
				<p>Стоимость упаковки готовых изделий: упаковка в плёнку стрейтч - 15 руб. кв.м.</p>
			</div>
		</div>
	</div>
	<div class="span12 margin-top">
		<div class="row">
			<div class="span3 align-r">
				<h3>Скидки</h3>
			</div>
			<div class="span9">
				<div class="row">
					<div class="span6">
						<table class="table">
							<thead>
								<tr>
									<td class="span4">Скидка за краску заказчика</td>
									<td>10%</td>	
								</tr>
		  					</thead>
							<tbody>
								<tr>
									<td>Индивидуальная скидка</td>
									<td>Звоните, пишите – договоримся</td>
								</tr>
								<tr>
									<td>Накопительная скидка</td>
									<td>до 7%</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="span12 margin-top">
		<div class="row">
			<div class="span3 align-r">
				<h3>Наценки</h3>
			</div>
			<div class="span9">
				<div class="row">
					<div class="span6">
						<table class="table">
							<thead>
								<tr>
									<td rowspan="2">Наценка за вес изделия</td>
									<td>101 – 150 кг .</td>
									<td>50 %</td>
								</tr>
								<tr>
									<td>Более 150 кг .</td>
									<td>75%</td>	
								</tr>
		  					</thead>
							<tbody>
								<tr>
									<td>При покрытии изделия лаком</td>
									<td colspan="2">Коэффициент 2,0</td>
								</tr>
								<tr>
									<td>При покраске теплоемких изделий</td>
									<td colspan="2">Коэффициент 1,3</td>
								</tr>
								<tr>
									<td>При срочном заказе</td>
									<td colspan="2">Коэффициент 1,3</td>
								</tr>
								<tr>
									<td>За перекрас изделия</td>
									<td colspan="2">Коэффициент 1,5</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
			</div>
		</div>
	</div>


	<div class="span9 offset3 margin-top">
		<h1 class="gray">Калькулятор</h1>
		<h3 class="font">Тут вы можете подсчитать стоимость окраски изделия</h3>
		<h5 class="light-gray">Введите в поля таблицы выбранные параметры</h5>
	</div>
	<div class="span11 offset1 margin-top">
		<form class="form-horizontal">
			<fieldset>
				<table id="calculator" class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Номер цвета</th>
							<th>Тип окрашиваемого изделия</th>
							<th>Размеры/площадь</th>
							<th>Сложность</th>
							<th>Стоимость</th>
						</tr>
  					</thead>
					<tbody>
						<tr id="blank_position" class="hide">
							<td class="number"></td>
							<td>
								<div class="control-group">
					            	<input type="text" class="input_color span1"/>
					            </div>
								<div class="thumbnail color_preview">
									<div class="active">
									</div>
								</div>
								<a class="gray delete_position" href="#">Удалить позицию</a>
							</td>
							<td>
								<div class="control-group">
									<select class="span3">
										<option value="0">Выберите тип изделия</option>
										<option value="1">Плоские изделия</option>
										<option value="2">Длинномерные изделия</option>
										<option value="3">Малоразмерные изделия</option>
										<option value="4">Объемные изделия</option>
									</select>
								</div>
								 <div class="span3"><div class="blueprint thumbnail"></div></div>
							</td>
							<td>
								<!-- Плоские изделия -->
								<div class="type_1 hide">
									<div class="control-group">
						            	<input type="text" class="input-small" placeholder="длина"/>
						            	<span class="help-inline">м</span>
						            </div>
						            <div class="control-group">
						            	<input type="text" class="input-small" placeholder="ширина"/>
						            	<span class="help-inline">м</span>
						            </div>
						            <div class="control-group">
						            	<input type="text" class="input-small" placeholder="высота"/>
						            	<span class="help-inline">м</span>
						            </div>
						            <div class="control-group">
						            	<input type="text" class="input-small" placeholder="количество"/>
						            	<span class="help-inline">шт</span>
						            </div>
						        </div>
						        <!-- Длинномерные изделия -->
						        <div class="type_2 hide">
									<div class="control-group">
						            	<input type="text" class="input-small" placeholder="длина сечения"/>
						            	<span class="help-inline">см</span>
						            </div>
						            <div class="control-group">
						            	<input type="text" class="input-small" placeholder="ширина сечения"/>
						            	<span class="help-inline">см</span>
						            </div>
						            <div class="control-group">
						            	<input type="text" class="input-small" placeholder="длина изделия"/>
						            	<span class="help-inline">м</span>
						            </div>
						            <div class="control-group">
						            	<input type="text" class="input-small" placeholder="количество"/>
						            	<span class="help-inline">шт</span>
						            </div>
						        </div>
						        <!-- Малоразмерные изделия -->
						        <div class="type_3 hide">
									<div class="control-group">
						            	<input type="text" class="input-small" placeholder="максимальная величина"/>
						            	<span class="help-inline">см</span>
						            </div>
						            <div class="control-group">
						            	<input type="text" class="input-small" placeholder="количество"/>
						            	<span class="help-inline">шт</span>
						            </div>
						        </div>
						        <!-- Объемные изделия -->
						        <div class="type_4 hide">
									<div class="control-group">
						            	<input type="text" class="input-small" placeholder="длина"/>
						            	<span class="help-inline">м</span>
						            </div>
						            <div class="control-group">
						            	<input type="text" class="input-small" placeholder="ширина"/>
						            	<span class="help-inline">м</span>
						            </div>
						            <div class="control-group">
						            	<input type="text" class="input-small" placeholder="высота"/>
						            	<span class="help-inline">м</span>
						            </div>
						            <div class="control-group">
						            	<input type="text" class="input-small" placeholder="количество"/>
						            	<span class="help-inline">шт</span>
						            </div>
						        </div>
							</td>
							<td>
								<label class="checkbox">
                					<input type="checkbox" name="optionsCheckboxList1" value="1.5">
                					100 -150 кг
              					</label>
              					<label class="checkbox">
                					<input type="checkbox" name="optionsCheckboxList1" value="1.75">
                					больше 150 кг
              					</label>
              					<label class="checkbox">
                					<input type="checkbox" name="optionsCheckboxList1" value="2">
                					лак
              					</label>
              					<label class="checkbox">
                					<input type="checkbox" name="optionsCheckboxList1" value="1.3">
                					тепловое
              					</label>
              					<label class="checkbox">
                					<input type="checkbox" name="optionsCheckboxList1" value="1.3">
                					срочно
              					</label>
              					<label class="checkbox">
                					<input type="checkbox" name="optionsCheckboxList1" value="1.5">
                					перекраска
              					</label>
							</td>
							<td>
								<h3 class="input_price font pull-r"></h3>
							</td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</form>
	</div>
	<div class="span3 offset1">
		<div class="control-group">
			<button id="add_position" class="btn btn-primary btn-large">
				<i class="icon-plus icon-white"></i>
				Добавить позицию
			</button>
		</div>
	</div>
	<div class="span4">
		<div class="control-group">
			<button class="btn btn-success btn-large">
				<i class="icon-shopping-cart icon-white"></i>
				Оформить заказ
			</button>
		</div>
	</div>
	<div class="span4"><h3 id="input_price_count" class="font pull-r">Общая стоимость: - руб.</h3></div>
</div>


